---
// @ts-ignore
import { Icon } from "astro-icon";



const features = [
  {
    title: "Objetivo",
    description:
      "Establecer una colaboración estratégica con ProtolyLab. El Startup Studio es un partnership entre los fundadores de una nueva startup. ProtolyLab actuará como co-fundador adicional, proporcionando financiamiento en tecnología, asistencia estratégica y acceso a recursos clave durante los primeros 24 meses de la startup (etapas tempranas).",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "¿Para quien va dirigido?",
    description:
      "Emprendedores que han sido rechazados por Sercotec Semilla, Semilla Corfo, Startup Chile, incubadoras, así como profesionales técnicos que buscan mantener sus empleos mientras incuban proyectos en paralelo. También está dirigido a aquellos que deseen resolver un problema específico o estén emprendiendo por primera vez.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Roles",
    description:
      "ProtolyLab (Startup Studio): Co-Fundación: ProtolyLab será considerado un co-fundador adicional, participando en la toma de decisiones estratégicas, software y servidores   ",
    icon: "bx:bxs-data",
  },
  {
    title: "Financiamiento Tecnológico",
    description:
      "ProtolyLab financiará hasta el 60% del desarrollo del MVP (Producto Mínimo Viable) equivalente desde $5000 hasta $10.000usd neto (dependiendo de las funcionalidades y tiempo de entrega) y el equipo emprendedor, con un co-financiamiento de un 40% equivalentes, dividido hasta en 3 cuotas neto (0, 30 y 60 días) o Crédito. Excluyendo hardtech, en un plazo de 3 a 4 meses",
    icon: "bx:bxs-bot"
  },
  {
    title: "Participacion",
    description:
      "ProtolyLab tendrá el 25% de participación en la startup durante los primeros 24 meses. Voto en las Decisiones: ProtolyLab tendrá derecho a voto en las decisiones clave sobre el modelo de negocios y monetización. Los fundadores mantendrán el 75% de la participación durante todo el período.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Desarrollo del producto",
    description:
      "ProtolyLab será el responsable del desarrollo del MVP con las funcionalidades especificadas. El MVP incluye hasta 10 máximo funcionalidades que nosotros mismos validamos en base a los requerimientos iniciales del Product Discovery. Cada nuevo features a agregar post entrega del MVP está sujeto a validación por parte nuestra si podemos agregarlo o no y/o en su defecto se tendrá que cotizar por separado. Los costos de mantenimiento (servidores, APis, etc) corren por parte del equipo emprendedor.",
    icon: "bx:bxs-user",
  },
  {title:"Tiempo de desarrollo",
   description:"De 3 a 4 meses aproximadamente.",
  icon:"bx:bxs-time",},
  {title:"Asistencia estrategica",
   description:"Esto incluye: Asistencia en Ideación y Validación, Canvas Modeling, Modelo de Negocios (monetizacion), Mentoria en etapas tempranas, asistencia en el stack tecnologico (NextJs, NodeJs, MongoDB, Flutter, AWS, etc) y Acesso a la red de contactos de ProtolyLab.",
  icon:"bx:bxs-user",},
  {title:"Responsabilidades del equipo fundador",
   description:"La parte Operativa Marketing/Ventas y tecnicos especialistas proveerán: Operación: Dirigirán la operación diaria de la startup. Vision y manejo: Proporcionarán la vision, rumbo y manejo estratégico de la startup (StartUp Studio podría sugerirlo). Y, Ejecución de Primer Nivel: Compromiso diario de 4 a 8 horas para lograr los objetivos establecidos propuestos en conjunto.",
  icon:"bx:bxs-window-alt"}
];
---


<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Mentoría e inversión en tecnología para iniciar tu propia startup.
  </h2>
  <p class="text-lg mt-4 text-slate-600">

  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          {item.title === "Financiamiento Tecnológico" ? (
            <p class="text-slate-500 mt-2 leading-relaxed">
              ProtolyLab financiará hasta el 60% del desarrollo del MVP (Producto Mínimo Viable){" "}
              <span style="font-weight: bold;">equivalente desde $5000 USD hasta $10.000 USD netos</span> (dependiendo de las funcionalidades y tiempo de entrega) y el equipo emprendedor, con un co-financiamiento de un 40% equivalentes, dividido hasta en 3 cuotas neto (0, 30 y 60 días) o Crédito. Excluyendo hardtech, en un plazo de 3 a 4 meses.
            </p>
          ) : (
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          )}
        </div>
      </div>
    ))
  }
</div>
