---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div class="md:hidden pb-12">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      class="w-full"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      <strong>Co-Creación Startup Studio.</strong>
    </h1>
    <p class="text-lg mt-2 text-slate-600 max-w-xl">
      
      <p></p>
      <h1 class="text-xl lg:text-2xl xl:text-3xl lg:tracking-tight xl:tracking-tighter">Impulsando <strong>Emprendimientos Dinámicos.</strong></h1>

      <p></p>
      Mentoría e inversión en tecnología para emprendedores bootstrapped en etapas tempranas.
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
    </Link>
    <style>
      .custom-link {
        background-color: #f7c375; /* Naranja más suave */
        color: black;
        border: 1px solid black; /* Borde negro */
      }
      
      .custom-link:hover {
        background-color: #FFDAB9; /* Naranja más suave para hover */
      }
      </style>
      
      <Link
        size="lg"
        class="custom-link flex gap-1 items-center justify-center rounded-lg p-2"
        rel="noopener"
        href="https://tally.so/r/wA2MAo"
        target="_blank">
        <Icon class="h-4 md:h-4" name="simple-icons:vercel" /> 
        Aplica Hoy
      </Link>
  

    </div>
  </div>
</main>
